body,html{
    height: 100%;
    width: 100%;
    margin:0;
    /* padding:0; */
    overflow: hidden;
    font-family: 'Sora', sans-serif;
}

body{
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
main{
    height: 100%;
}

header{
    height: 75px;
    background-color: black;
}
header img{
    height: 40px;
    width: 40px;
    padding: 20px;
}

#home-main-content{
    display: flex;
    height: 100%;
    overflow-y: hidden;
}
#home-nav-bar{
    padding: 40px;
    background-color: black;
    color: white;
    width: 250px
}
#home-nav-bar > a{
    text-decoration: none;
    color: rgb(97, 87, 87);
}
#home-nav-bar > a:hover{
    color: white;
}
#home-categories{
    background-color: #1a1a1a;
    color: black;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    
}
/* Songs */
#home-songs{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    text-align: center;
}
.home-see-all > a{
    /* padding: 20px; */
    text-decoration: none;
    color: white;
    font-size: 15px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    justify-content: flex-end;
	align-items: flex-start;
	align-content: stretch;
    margin: 10px;
}
.home-kanget{
    /* margin: 10px; */
    border-style: groove;
    border-radius: 8px;
    border: none;
    width: 150px;
    height: 220px;
    margin-top: 10px;
}
.home-kanget > img{
    height: 100px;
    width: 100px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
    border-radius: 10px;
}
.home-kanget > h2{
    text-wrap: wrap;
    color: white;
    font-size: 20px;
} 
.home-kanget > p{
    margin: auto;
    color: #4d4d4d;
    font-size: 10px;
    margin-top: -10px;
}

.home-kanget:hover{
    background-color: #262626;
}
.home-kanget:hover img{
    transform: scale(1.2);
}
/* Genres */
#home-genres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    /* height: 200px; */
    margin: 20px;
    padding: 10px;
}

.home-genre-box > a {
    text-decoration: none;
    color: white;
    width: 200px;
    height: 200px;
    padding: 0;
}
.home-genre-box{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}
.home-genre p {
    padding-left: 7%;
    padding-top: 2%;
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0 0 0;
}

#home-Trending {
    background-color: rgb(253, 4, 25);
}
#home-For-You {
    background-color: rgb(22, 194, 6);
}
#home-Pop {
    background-color: rgb(4, 162, 253);
}
#home-Hip-Hop {
    background-color: rgb(255, 102, 0)
}
#home-Mood {
    background-color: rgb(52, 9, 102);
}

/* Artists */
#home-artists{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 25px;
    padding: 10px;
}
.home-artist{
    display: flex;
    text-align: center;
    /* margin: 10px; */
    position: relative;
    /* margin-top: 100px; */
    cursor: pointer;
    overflow: hidden;
}
/* .artist > img{
    height: 70px;
    width: 70px;
    margin: 15px;
    border-radius: 10px;

} */

.home-artist > img{
    width: 150px;
    height: 150px;
    transition: 0.3s ease;
    margin: 15px;
    border-radius: 10px;
}
.home-description{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.3s ease;
    opacity: 0;
    color:  #bfbfbf;
}
.home-description h2{
    color: #fff;
    font-size: 45px;
    text-align: center;
    margin-top: 50px;
}
.home-artist:hover img{
    transform: scale(1.5);
}
.home-artist:hover .home-description{
    opacity: 1;
}
#home-info{
    background-color: #333333;
    color:#666666;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
}

/*MEDIAPLAYER STYLING*/
#home-mediaPlayer {
    color: white;
    width: 100%;
    height: 10%;
    padding: 0;
    margin: 0;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
#home-songInformation {
    width: 25%;
    height: 100%;
}

#home-centerPlayer {
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

#home-playButtons {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
}
#home-lowerPlayer {
    width: 100%;
    height: 40%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#home-volumeControls {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.home-playerButton {
    padding: 0;
    border: 0;
    margin: 10px;
    background-color: rgb(44, 0, 40);
    border-radius: 40%;
    cursor: pointer;
    outline: none;
    width: 50px;
    height: 50px
}

/*Buttons*/
#home-previous-icon {
    padding: 0;
    padding-right: 2px;
    height: 28px;
}
#home-play-icon {
    padding: 0;
    padding-top: 1px;
    padding-left: 2px;
    height: 20px;
}
#home-next-icon {
    padding: 0;
    padding-top: 1px;
    padding-left: 2px;
    height: 28px;
}
#home-mute-icon {
    padding: 0;
    padding-top: 1px;
    padding-right: 1px;
    height: 20px;
}


/*  
    Firefox dhe WebKit browsers kane struktura te ndryshme
    per stilizimin e sliders (range input).
    Per me stilizu progresin e sliders ne HTML, duhet t'i qasemi te 2 llojet e ndryshme
    Firefox ofron pseudo-elementet ::-moz-range-track
                                   ::-moz-range-thumb
    WebKit ofron psuedo-elementin ::-webkit-slider-runnable-track
                                  ::-webkit-slider-thumb

    Kodi i CSS eshte i bazuar ne 
    https://css-tricks.com/lets-create-a-custom-audio-player/
    https://www.smashingmagazine.com/2021/12/create-custom-range-input-consistent-browsers/
*/

/*Ky bllok i ben stilizim default te browsers override*/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

/*Stilizimi i track*/

/*Chrome, Safari, Opera, Edge Chromium*/
input[type="range"]::-webkit-slider-runnable-track {
    background: #ffffff;
    height: 6px;
    border-radius: 5px;
}

/* Firefox */
input[type="range"]::-moz-range-track {
    background: #ffffff;
    height: 6px;
    border-radius: 5px;
}

input[type="range"].home-longSlider {
    width: 40%;
}

input[type="range"].home-shortSlider {
    width: 40%;
}


/*Stilizimi i thumb*/
/*
    margin-top = (track height in pixels/2)-(thumb height in pixels/2)
    margin-top = 6/2 - 12/2 = -3px
*/

/*Chrome, Safari, Opera, Edge Chromium*/
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default */
    margin-top: -3px; /*Centers the thumb on the track */
    appearance: none;
    background-color: #fff;
    height: 12px;
    width: 12px;
    border-radius: 8px;
    border: solid 0.5px rgb(231, 231, 231);
}

/*Firefox*/
input[type="range"]::-moz-range-thumb {
    border: solid 0.5px rgb(231,231,231);
    border-radius: 8px;
    background-color: #fff;
    height: 12px;
    width: 12px;
}


/* FOCUS STYLES */
input[type="range"]:focus {
    outline: none; /*remove default*/
}

