body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Sora', sans-serif;
    overflow: hidden; /*Nuk len me bo scroll*/
    background-color: #140014;
    color: white;
}

.mainContainer {
    margin: 0;
    padding: 0;
    height: 90%;
    width: 100%;
    display: flex;
}

.mainSideBar {
    height: 100%;
    width: 20%;
    background-color: red;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.sideElement {
    background-color: #200020;
    border-radius: 5px;
    width: 90%;
    height: auto;
    margin: 10px;
}

.sideElement ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}
.sideElement li {
    margin: 0;
    padding: 15px 0;
}

.dynamicContent {
    height:100%;
    width: 80%;
}

.mediaBar {
    height: 10%;
}