body, html {
    margin: 0;
    padding: 0;
    height: auto;
    font-family: 'Sora', sans-serif;
}

h1 {
    font-size: 70px;
}

.container {
    display: flex;
    height: auto;
    padding: 0;
    margin: 0;
}

.loginBlock {
    background-color: #9803ac;
    width: 40%;
    height: auto;
}

.signUpBlock {
    background-color: #140014;
    width:60%;
    text-align: center;
    padding: 0;
    margin: 0;
    height: auto;
}

.topSignUp {
    display:flex;
    justify-content: center;
    margin-top: 10px;
}

.logo {
    width: 40px;
    height: 40px;
    padding: 10px;
}

.topSignUp h3 {
    color: white;
}


.mainSignUp { /* SUBJECT TO CHANGE*/
    margin-top: 15%;
    margin-bottom: 30px;
}

.mainSignUp h1 {
    color: white;
    margin: 0;
}

.mainSignUp p {
    margin-top: 5px;
    margin-bottom: 20px;
    color: rgb(175, 175, 175);
    font-size: 20px;
}

.socialMediaIcons img {
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0 5px;
}

.hrBreak {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hrBreak hr {
    height: 0px;
    width: 35%;
    margin: 0 3px;
    border: 0.5px solid #ffffff;
}

.hrBreak p {
    margin: 0;
    color: #ffffff;
    font-size: 10px;
}

.signUpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
}

.signUpForm input, select{
    width: 65%;
    height: 55px;
    margin: 10px;
    border: solid 1px #ccc;
    border-radius: 30px;
    text-align: center;
}

select {
    color: black;
}

.signUpForm button {
    width: 100%;
    height: 55px;
    border: solid 1px #6c007a;
    border-radius: 30px;
    background-color: #9803ac;
    color: #E3FDFD;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Sora', sans-serif;
}

.signUpForm button:hover {
    width: 100%;
    height: 55px;
    border: solid 1px #6c007a;
    border-radius: 30px;
    background-color: white;
    color: #9803ac;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Sora', sans-serif;
}

#email::placeholder {
    color: #afafaf;
    font-style: bold;
    text-align: center;
    padding-left: 20px;
}
#name::placeholder {
    color: #afafaf;
    font-style: bold;
    text-align: center;
    padding-left: 20px;
}
#password::placeholder {
    color: #afafaf;
    font-style: bold;
    text-align: center;
    padding-left: 20px;
}
#passwordConfirm::placeholder {
    color: #afafaf;
    font-style: bold;
    text-align: center;
    padding-left: 20px;
}

#option::placeholder {
    color: #afafaf;
    font-style: bold;
    text-align: center;
    padding-left: 20px;
}
 
.loginBlock {
    background-color: #9803ac;
    width: 40%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:0;
    margin:0;
}
.loginMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%
}
.loginMain h1 {
    color: #ffffff;
    margin: 15px 0;
}
.loginMain p {
    color: #ffffff;
    font-size: 20px;
    margin: 15px 0;
}

.loginMain button {

    width: 100%;
    height: 55px;
    border: solid 1px #f4d8f5;
    border-radius: 30px;
    background-color: #fbe3fd;
    color: #9803ac;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Sora', sans-serif;
}

.loginMain button:hover {
    width: 100%;
    height: 55px;
    border: solid 1px #f4d8f5;
    border-radius: 30px;
    background-color: #9803ac;
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Sora', sans-serif;
}

.signUpForm a{
    margin-top: 8px;
    padding: 0;
    width: 40%;
    border-radius: 30px;
}

.loginMain a{
    margin-top: 8px;
    padding: 0;
    width: 70%;
    border-radius: 30px;
}