body{
    background-color: #071212;
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}
#all{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 10px;
}
.kanget{
    background-color:  #1a1a1a;
    margin: 10px;
    border-style: groove;
    border-radius: 8px;
    border: none;
    width: 150px;
    height: 250px;
}
.kanget > img{
    height: 100px;
    width: 100px;
    margin: 15px;
    border-radius: 10px;
}
.kanget > h2{
    text-wrap: wrap;
    color: #a6a6a6;
} 
.kanget > p{
    margin: auto;
    color: #4d4d4d;
}
header{
    height: 75px;
    background-color: black;
}
header img{
    height: 40px;
    width: 40px;
    padding: 20px;
}