body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}
header{
    background-color: rgb(13, 18, 57);
    height: 75px;

}
#LogIn{
    text-align: end;
    margin-top: 10px;
    border-radius: 10px;
    width: 70px;
    height: 25px;
    text-align: center;
    background-color: rgb(100, 50, 96);
    border: none;
}
body{
    background-color: rgb(19, 7, 44);
}
.classifications{   
    width: 500px;
    height: 250px;
    margin: auto;
    margin-top: 100px;
    color: bisque;
    text-align: center;
}
#fav-song{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(5deg,#5e173a 8.75%, #d95798 97.40%);
    border-radius: 30px;
}
#new-releases{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(40deg,#002080 10.75%,  #6666ff 95.40%);
    background-color: rgb(209, 100, 200);
    border-radius: 30px;
}
#podcast{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(55.8deg,#003300 9.75%, #006600 95.44%);
    border-radius: 30px;
}
#news{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(57.8deg,#6600cc 9.75%,#6d257e 95.44%);
    border-radius: 30px;
}

