
.artists-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 5px;
}
.artists-artist{
    display: flex;
    text-align: center;
    margin: 15px;
    position: relative;
    margin-top: 100px;
    cursor: pointer;
    overflow: hidden;
}

.artists-artist > img{
    width: 300px;
    height: 300px;
    margin: 15px;
    border-radius: 10px;
    transition: 0.3s ease;
}
.artists-description{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.3s ease;
    opacity: 0;
    color:  #bfbfbf;
}
.artists-description h2{
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}
.artists-artist:hover img{
    transform: scale(1.5);
}
.artists-artist:hover .artists-description{
    opacity: 1;
}
#artists-info{
    background-color: #333333;
    color:#666666;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
}