#songs-all{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    justify-content: center;
    text-align: center;
    margin: 0;
    height: 100%;
    padding: 2px;
}
.songs-kanget{
    /* margin: 10px; */
    border-style: groove;
    border-radius: 8px;
    border: none;
    width: 150px;
    height: 220px;
    margin-top: 10px;
}
.songs-kanget > img{
    height: 100px;
    width: 100px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
    border-radius: 10px;
}
.songs-kanget > h2{
    text-wrap: wrap;
    color: white;
    font-size: 20px;
} 
.songs-kanget > p{
    margin: auto;
    color: #4d4d4d;
    font-size: 10px;
    margin-top: -10px;
}
.songs-kanget:hover{
    background-color: #262626;
    cursor: pointer;
}
.songs-kanget:hover img{
    transform: scale(1.2);
    cursor: pointer;
}